# Prod environment overrides
replicaCount: 1

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"


ingress:
  className: "nginx-tietoevry"
  hosts:
    - host: csa-demo-container-bcl.prod.tietoevry.platform-engineer.cloud